# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environments
.venv/
venv/
env/

# Coverage
.coverage
.coverage.*
htmlcov/

# Django
*.env
.env
.env.*

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
